:root {
  --font-main: "Georgia", "Times New Roman", serif;
  --font-alt: "Arial", sans-serif;
  --color-bg: #e0caa3;
  --color-text: #e7ebdd;
  --color-text-muted: #e0dada;
  --color-border: #d6cfc5;
  --max-width: 60%vw;
}

* {
  box-sizing: border-box;
}

body {
  color: white;
  margin: 0;
  padding: 2%;
  font-family: var(--font-main);
  font-size: 1.5rem;
  line-height: 1.6;
  color: var(--color-text);
       background: radial-gradient(circle at 20% 20%, rgba(78, 16, 221, 0.65), rgba(44, 32, 77, 0) 45%),
        linear-gradient(160deg, #20426d 0%, #7f8a94 48%, #18a35e 100%);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      position: relative;
      overflow: hidden;
}

body > main > ol > li > a {
  color: rgb(238, 233, 233);

}


.content {
  /* max-width: var(--max-width); */
  
  padding: 32px 20px 64px;
  margin-top: 5%;
  margin-left: 50%;
  transform: translateX(-50%);
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin: 0 0 24px;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.3;
  margin: 28px 0 8px;
}

p {
  margin: 0 0 12px;
}

hr {
  border: 0;
  border-top: 1px solid var(--color-border);
  margin: 24px 0;
}

.note {
  font-size: 1rem;
  font-family: var(--font-alt);
  color: var(--color-text-muted);
}

.response {
  font-style: italic;
  color: #444;
  border-left: 3px solid var(--color-border);
  padding-left: 1rem;
  margin-left: 0.5rem;
}


ol {
  counter-reset: section; /* Initialize counter */
  list-style: none; /* Remove default numbering */
  padding-left: 0;
}

li {
  counter-increment: section;
  padding-left: 1.5em;
  position: relative;
}

li:not(.category)::before {
  content: counter(section) ". ";
  position: absolute;
  left: 0;
}

li.category {
  counter-reset: section; /* Reset counter after category */
  font-weight: bold;
  list-style: none;
  padding-left: 0;
  margin-top: 25px;
}

